@import "shared";

@font-face {
  font-family: "LatoRegular";
  src: url("../../public/fonts/Lato-Regular.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LatoBold";
  src: url("../../public/fonts/Lato-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

%base {
  @extend %fontColor;
  @extend %fontDecorators;
  margin: 0;
}

.body {
  @extend %base;
  font-family: LatoRegular, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.bodyBold {
  @extend %base;
  font-family: LatoBold, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.heading {
  @extend %base;
  font-family: LatoBold, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.title {
  @extend %base;
  font-family: LatoBold, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 72px;
}

.button {
  @extend %base;
  font-family: LatoBold, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}